@model IEnumerable<GGP.Models.Statistic>

@{
    ViewBag.Title = "สถิติ Stock";
}

<h2>สถิติ</h2>
<hr>
@foreach (var group in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>@group.GroupName</strong>
        </div>
        <table class="table table-hover table-responsive">
            <tbody>
                @foreach (var item in group.StatisticItems)
                {
                    decimal value = 0;
                    Decimal.TryParse(item.Value.ToString(), out value);
                    <tr>
                        <th class="col-md-4">@item.Key</th>
                        <td>@String.Format("{0:N2}", value)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>