@{
    ViewBag.Title = "เมนู";
}

<div class="row">
    <div class="col-md-12">
        <h1>เมนู</h1>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("Supplier", "Index", "Supplier")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("Customer", "Index", "Customer")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("Employee", "Index", "Employee")
            </h3>
        </div>
    </div>
</div>