
@{
    ViewBag.Title = "Index";
}

<h2>Costing</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("Batik", "Batik")
            </h3>
        </div>
        <div class="col-md-4 text-center">
            <h3>
                @Html.ActionLink("Fashion", "Fashion")
            </h3>
        </div>
    </div>
</div>